.user-form-container {
    width: 600px;
}

.user-form-card {
    display: flex;
    flex-direction: column;
}

.user-form-row {
    display: flex;
}

.user-form-cell {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.user-form-cell:first-child {
    margin-right: 6px;
}

.user-form-cell:last-child {
    margin-left: 6px;
}

.user-form-card {
    margin-bottom: 12px;
}