.content-wrapper {
    flex: 1 1 0%;
    display: flex;
    overflow-y: auto;
    margin-top: 64px;
    flex-direction: column;
}

.content {
    margin: 12px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}