* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    background-color: #908d8d;
}

#react {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}