.back-button {
    margin-left: -12px;
    margin-right: 20px;
}

.add-container-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-container-dialog-content {
    display: flex;
    flex-direction: column;
}

.add-container-dialog-text {
    margin-bottom: 12px;
}