.list-container-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-container-empty-text {
    color: #908d8d;
    display: block;
    text-align: center;
}

.list-container-card {
    width: 500px;
}